.Rproj.user
.Rhistory
.RData
.rda
.csv
.Rproj
*.Rhistory
*.history
digitize.Rproj
digitize_present-figure/unnamed-chunk-2.png
digitize_present.md
digitize_present.Rpres
images (1).jpg.rda
images.jpg.rda
images.jpg.rda
server (SCHOUB1-L1's conflicted copy 2014-09-09).R
shinyapps/bruno/digitize.dcf
ui (SCHOUB1-L1's conflicted copy 2014-09-09).R